<!-- form partial for comments-->
<h2>Add comment</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <div class="field" style="100%;">
    <p>
      <%= f.label :commenter %> <br>
      <%= f.text_field :commenter, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :body %> <br>
      <%= f.text_area :body, class:'form-control' %>
    </p>
    <p>
      <%= f.submit class:'btn btn-md btn-success' %> <!-- it's not necessary a "," between submit and class -->
    </p>
  </div>
<% end %>
